<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042432795055-b2elhi0okcnkvrp6ig189uc460c59vq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042432795055-b2elhi0okcnkvrp6ig189uc460c59vq8</string>
	<key>API_KEY</key>
	<string>AIzaSyA5_r6saVOHVc7IhJ-hsbgrd-J-D_1CNKc</string>
	<key>GCM_SENDER_ID</key>
	<string>1042432795055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayoubhan.FirebaseRxSwift</string>
	<key>PROJECT_ID</key>
	<string>fir-rxswift</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-rxswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042432795055:ios:2e7eacbaa60759cf960f5a</string>
</dict>
</plist>